{% extends 'base.html' %}
{% block title %}
Update product
{% endblock %}

{% block body %}
<div class="container">
<h1>Update product {{ product.name }}</h1>
    <form method="post">
        {% csrf_token %}
            <p><label>Enter cost</label><br>
                <input type="text" name="cost" value="{{ product.cost }}"></p>
            <p><label>Enter price</label><br>
                <input type="text" name="price" value="{{ product.price }}"></p>
            <p><label>Enter quantity</label><br>
                <input type="text" name="quantity" value="{{ product.quantity }}"></p>
            <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>
{% endblock %}